h1{
 font-family: 'Press Start 2P';
 text-align: center;
 margin-top: 2vw;
}
h4{
  font-family: 'Press Start 2P';
}
p{
  text-align: center;
  color: black;
  font-size: 1.2vw;
  max-width: 50vw;
  font-family: 'IBM Plex Mono';
}
#gallery{
  margin-top: 1vw;
  width: 60vw;
  max-height: 100vw;
  padding-left: 14vw;
  padding-right: 14vw;
}

.carousel-item{
height: 39vw;
width: auto;
border: solid;
border-style: dashed;
}
.carousel{
  margin:auto;
  width:25vw;;
}

.email{
  width: 30vw;
}
#mail{
  width:100vw;
  position: absolute;
  text-align: center;
}
#mc_embed_signup{
  width: 100vw;
  font-family: 'Press Start 2P';
  font-size: 1vw;
}
#mce-EMAIL{
  font-family: 'IBM Plex Mono';
}
