h1{
 font-family: 'Press Start 2P';
 text-align: center;
 margin-top: 2vw;
}
p{
  text-align: center;
  color: black;
  font-size: 1.2vw;
  max-width: 50vw;
  font-family: 'Roboto Mono';
}
.container-fluid{
  margin-top: 2.5vw;
  width: 60vw;
  max-height: 100vw;
  padding-left: 14vw;
  padding-right: 14vw;
}

.carousel-item{
height: 37vw;
width: auto;

}
.carousel{
  margin:auto;
  width:25vw;
  margin-top:1vw;
  border: solid 2px;
  border-style: dashed;
}
